* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 3.5%;
}

.cardFooter {
    padding: 0px 20px;
}

.imgContainer {
    position: relative;
}

.img {
    display: block;
    width: 290px;
    height: auto;
    border-radius: 3.5%;
    margin: 20px;
    cursor: pointer;
}

.imgContainer:hover .overlay {
    opacity: 0.6;
  }
  

.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  display: block;
    width: 290px;
    height: auto;
    border-radius: 3.5%;
    margin: 20px;
}

.eyeLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.title {
    font-size: large;
    padding-top: 0px;
    cursor: pointer;
}

.bioText {
    color: hsl(215, 51%, 70%);
    font-size: medium;
    padding-top: 20px;
    font-weight: 100;
}

.ethTimeContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.ethContainer {
    display: flex;
}

.ethLogo {
    height: 85%;
}

.ethText {
    color: hsl(178, 100%, 50%);
    padding-left: 5px;
}

.timeLeftText {
    color: hsl(215, 51%, 70%);;
}

.line {
    background-color: hsl(216, 23%, 23%);
    height: 2px;
    width: auto;
    margin-top: 20px;
}

.photoNameContainer {
    display: flex;
    align-items: center;
}

.avatarImg {
    padding-top: 17px;
    padding-right: 20px;
    width: 33px;
}

.creator {
    padding-top: 17px;
    display: flex;
    justify-content: center;
}

.name {
    cursor: pointer;
}

.creatorColors {
    color: hsl(215, 51%, 70%);
}

.footer {
    display: flex;
    align-items: flex-end;
}